.mainAsideBOx{
    background-color: rgb(247, 248, 247);
    height: 70%;
    width: 80%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media all and (max-width:700px){
    .mainAsideBOx{
        margin: 15px 15px;
    }
}