.BigCardFrame{
    width: 95%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.upperBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upperBoxIn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logoUpper{
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.img{
    width: 25px;
    height: 25px;
}
.upperBoxdown {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.bottomBox{
    width: 100%;
    background-color: rgba(0, 0, 255, 0.4);
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
}
.upperBoxdown button{
    width: 26%;
    height: 30px;
    color: white;
    background-color: rgb(229, 95, 61);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

@media all and (max-width:500px){
    .upperBoxdown button{
        width: 40%;
    }
}